html,	body,	div,	header,	nav,	main,	footer {
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
}
  
body {
  background-image: url("../image/elCapitan.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: 'Roboto', serif;
  font-size: 12px;
  color: DarkSlateGrey;
}

.desktop{
    width:100%;
    height:100%;  
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
}

.dock-bg{
    width:500px;
    height:70px;  
    opacity:0.8;
    border-radius:5px;
    background: -webkit-linear-gradient(grey, white);
    text-align: center;
    display: block;
    margin: 0 auto;
}
/*
I can change z-index dinamycally via JS, in order to display deck on the top, 
but I want to follow KISS principe
*/
.dock {
    position: absolute;
    bottom: 0;
    z-index: 999999999;
    width: 100%;
}

ul.osx-dock {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

ul.osx-dock li {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10px 20px 4px 20px;
    opacity: 1;
}

ul.osx-dock li a {
    display: block;
    height: 50px;
    padding: 0 1px;
}

ul.osx-dock li a img {
    width: 48px;
}

ul.osx-dock li span {
    background-color: lightgrey;
    position: absolute;
    bottom: 75px;
    margin: 0 auto;
    display: none;
    width: auto;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 6px;
    border-radius: 6px;
    color: black;
}

ul.osx-dock li:hover span {
    display: block;
}

.window {
    position: absolute;
    background: #fff;
    border: 1px solid #acacac;
    border-radius: 6px;
    box-shadow: 0px 0px 20px #acacac;
}


.window-header {
    color: #4d494d;
    font-size: 11pt;
    text-align: center;
    width: 100%;
    height: 20px;
    border-top: 1px solid #f3f1f3;
    border-bottom: 1px solid #b1aeb1;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    user-select: none;
    cursor: default;
}

.window-buttons {
    line-height: 10px;
    padding-left: 8px;
    padding-top: 3px;
    float: left;
}

.window-icon {
    margin: 2px;
    height: 16px;
    width: 16px;
    float: right;
}

.window-content {
    height:  calc(100% - 22px);
    border-bottom: 1px solid #f3f1f3;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.close-button {
    background: #ff5c5c;
    font-size: 9pt;
    width: 11px;
    height: 11px;
    border: 1px solid #e33e41;
    border-radius: 50%;
    display: inline-block;
    color: darkred;
    cursor: default;
}

.app-body {
   height: 100%;
   width: 100%;
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
}

.memory-body {
   background-color: olivedrab; 
}

.app-menu {
   height: 10%;
   width: 100%;
}

.app-buttons {
    line-height: 20px;
    float: center;
    padding: 5px;
}

.app-button {
    background-color: lightgrey;
    padding: 2px 5px;
    border-radius: 5px; 
    box-shadow: 0px -1px 2px 0 #333 inset,
    0px 1px 1px 1px #555;
    margin: 0 10px;
}

.app-info { 
    height: 4%;
}

.app-timer { 
    height: 4%;
}

.memory-row { 
    padding: 2px ;
}

.memory-card { 
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 2px 4px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.suit { 
    background-image : url("../image/0.jpg");
}

.selected{ 
    border: 2px solid yellow;
}

.alert-msg {
    color: red;
    font-size: 30pt;
    text-align: center;
    text-shadow: 2px 2px darkred;
}

.alert-img-holder {
    height: 230px;
    width: 230px;
    display: block;
    margin: auto;
}

.alert-winner-holder {
    background-image: url("../image/win.jpg")
}

.alert-loser-holder {
    background-image: url("../image/lose.jpg")
}

.app-info {
    color: lightgreen;
    font-size: 8pt;
    text-align: center;
    text-shadow: 2px 2px darkgreen;
    margin-top: 5px;
}

.app-timer {
    color: lightblue;
    font-size: 8pt;
    text-align: center;
    text-shadow: 2px 2px darkblue;
    margin-top: 5px;
}

div:focus {
    border: 1px solid Aqua;
}

